SlackInterview.xcodeproj/xcuserdata/samuelkitono.xcuserdatad/xcschemes
SlackInterview.xcodeproj/xcuserdata/samuelkitono.xcuserdatad/xcdebugger
SlackInterview.xcodeproj/project.xcworkspace/xcuserdata/samuelkitono.xcuserdatad
